server:
  port: ${PORT}
  error:
    include-stacktrace: never # e.getMessage 호출시 stacTrace 안찍히게 설정

spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}
    jackson:
      time-zone: Asia/Seoul

  jpa:
    generate-ddl: false
    open-in-view: false
    show-sql: true
    database: mysql
    properties:
      hibernate:
        '[format_sql]' : true
        jdbc:
          time_zone: Asia/Seoul

jwt:
  access-secret: ${JWT_AT_SECRET}
  refresh-secret: ${JWT_RT_SECRET}
  access-token-validity: 3600000
#  access-token-validity: 10000
  refresh-token-validity: 604800000

ai:
  base-url: ${AI_HOSTNAME}

# 모니터링을 위한 설정
management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info, metrics # 프로메테우스 필수 포함
      base-path: /api/actuator  # <--- 이 줄을 추가하세요! (기본값: /actuator)
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: oncare # 그라파나에서 구분할 앱 이름