server:
  port: ${PORT}
  error:
    include-stacktrace: never # e.getMessage 호출시 stacTrace 안찍히게 설정

spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}

  jpa:
    generate-ddl: false
    show-sql: true
    database: mysql
    properties:
      hibernate:
        '[format_sql]' : true

jwt:
  access-secret: ${JWT_AT_SECRET}
  refresh-secret: ${JWT_RT_SECRET}
  access-token-validity: 3600000
  refresh-token-validity: 604800000
