<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ateam.oncare.beneficiary.query.mapper.FormAccessMapper">

    <select id="selectAllowedFormFileInfo"
            resultType="org.ateam.oncare.beneficiary.query.dto.FormFileInfo">
        SELECT
        af.id AS formId,
        af.size AS fileSize,
        af.original_file_name AS originalFileName,
        af.mime_type AS mimeType,
        af.file_path AS filePath
        FROM application_form af
        WHERE af.id = #{formId}
        AND (
        <!--  1~5 기본 노출 -->
        af.form_category_id IN (1,2,3,4,5)

        <!--  (9) 치매 risk 있을 때만 -->
        OR (
        af.form_category_id = 9
        AND EXISTS (
        SELECT 1
        FROM risk_of_member rom
        JOIN m_risk_factor rf ON rf.id = rom.risk_id
        WHERE rom.beneficiary_id = #{beneficiaryId}
        AND rf.name = '치매'
        )
        )

        <!-- (6) 방문요양 제공기록지 : 현재 매칭(Y) 요양보호사가 방문요양(1) 가능할 때 -->
        OR (
        af.form_category_id = 6
        AND EXISTS (
        SELECT 1
        FROM matching m
        JOIN care_worker_service_type cwst
        ON cwst.care_worker_id = m.care_worker_id
        WHERE m.beneficiary_id = #{beneficiaryId}
        AND m.status = 'Y'
        AND cwst.m_service_type_id = 1
        )
        )

        <!-- (7) 방문목욕 제공기록지 : 현재 매칭(Y) 요양보호사가 방문목욕(2) 가능할 때 -->
        OR (
        af.form_category_id = 7
        AND EXISTS (
        SELECT 1
        FROM matching m
        JOIN care_worker_service_type cwst
        ON cwst.care_worker_id = m.care_worker_id
        WHERE m.beneficiary_id = #{beneficiaryId}
        AND m.status = 'Y'
        AND cwst.m_service_type_id = 2
        )
        )

        <!-- (8) 방문간호 제공기록지 : 현재 매칭(Y) 요양보호사가 방문간호(3) 가능할 때 -->
        OR (
        af.form_category_id = 8
        AND EXISTS (
        SELECT 1
        FROM matching m
        JOIN care_worker_service_type cwst
        ON cwst.care_worker_id = m.care_worker_id
        WHERE m.beneficiary_id = #{beneficiaryId}
        AND m.status = 'Y'
        AND cwst.m_service_type_id = 3
        )
        )
        )
    </select>

</mapper>
